body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editPasswordScreen-block {
    margin-top: 100px;
    width: 270px;
    height: 150px;
    border: 1px solid;
    border-radius: 10px;
    border-color: darkcyan;
}

.editPasswordScreen-block_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.editPasswordScreen-block_form_icon {
    margin-top: -30px;
    margin-left: 190px;
}

.editPasswordScreen-block_button {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}