body {
    display: flex;
    align-items: center;
    justify-content: center
}

.signInScreen-block {
    margin-top: 100px;
    width: 400px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    border-color: darkcyan;
}

.signInScreen-block_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.signInScreen-block_form div {
    margin-bottom: 5px;
}


