.mainScreen-block_card {
    
    margin-top: 30px;
    width: 445px;
   
}

body {
    display: flex;
    align-items: center;
    justify-content: center
}

.form-dialog-content{
    display: flex;
    flex-direction: column;
}

#filled-search {
    width: 420px;
}

.mainScreen-block_searchInput {
    margin-top: 5%;
}

.mainScreen-block_card_cardcontent_userDiv {
    display: flex;
    align-items: center;
}

.form-dialog-content_textField{
    margin-bottom: 20px
}